<a href="https://colab.research.google.com/github/neerajkashetty/My-App/blob/master/Python_Essentials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python Essentials**![py.png]()

This notebook covers basic Python syntax, variable, operations, functions, and other key aspects of Python language for you to start programming Python. It's recommended that you are already familiar with another high level programming language before taking advantage of this notebook. For detailed explanation of each topic covered in this notebook, please use online resources for a more comprehensive study of Python basics.

##**Benefits And Drawbacks Of Python**
The various attractive features of Python make it popular and preferred in many fields.

Some of the top features of Python include:

* Free and Open-Sourced
* Dynamically typed
* Portable
* Numerous libraries and applications
* Large supportive community
* Flexibility
* Easy to use and learn
* Extensible
* Embeddable
* Shorter line of code than most languages


Though Python is popular, it is not effective in some domains. Knowing these drawbacks will help us to limit Python to where it is effective, thereby building robust applications.

##**Some Drawbacks of Python are:**

* Slow speed
* Memory inefficient
* Ineffective in mobile computing.
* Undeveloped database layers.
* Run time error prompt due to its dynamism.



[Source](https://www.softwaretestinghelp.com/python/)

# **Execute Python Syntax**
As we learned in the class, Python syntax can be executed by writing directly in the Command Line:

In [ ]:
print ("Hay Welcome to Data Science & Machine Learning With I. K. Nti!")

Hay Welcome to Data Science & Machine Learning With I. K. Nti!

# **Python Comments**

:Comments can be used to explain Python code.

:Comments can be used to make the code more readable.

:Comments can be used to prevent execution when testing code.

##**Creating a Comment**
Comments starts with a **#**, and Python will ignore them:

In [ ]:
#I hope and trust that we will enjoy this class together as a family
print ("Hay Welcome to Data Science & Machine Learning With I. K. Nti!")

#**Variables**
Variables are containers for storing data values.

##**Creating Variables**
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
#Example
x = 53
y = "Kofi"
print(x)
print(y)

53
Kofi

**Variables do not need to be declared with any particular type, and can even change type after they have been set.**

In [ ]:
x = 9       # x is of type int
x = "Isaac" # x is now of type str
print(x)

Isaac

##**Casting**
If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(80)    # x will be '80'
y = int(80)    # y will be 80
z = float(80)  # z will be 80.0
print (x,y,z)

80 80 80.0

##**Variable Names**
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#Example
#Legal variable names:
#Remember that variable names are case-sensitive

myvar = "Kofi"
my_var = 4
_my_var = "Isaac"
myVar = 6.05
MYVAR = "Faith"
myvar2 = "SoIT"

In [ ]:
# Declare Five (5) Variable with different names

##**Many Values to Multiple Variables**
Python allows you to assign values to multiple variables in one line:

In [ ]:
#Note: Ensure the number of variables matches the number of values, or else you will get an error.
x, y, z = "Data Science and Machine Learning", 100, 'Female'
print(x)
print(y)
print(z)

Data Science and Machine Learning
100
Female

##**One Value to Multiple Variables**
And you can assign the same value to multiple variables in one line:

In [ ]:
x = y = z = "Data Science and Machine Learning"
print(x)
print(y)
print(z)

Data Science and Machine Learning
Data Science and Machine Learning
Data Science and Machine Learning

##**Unpack a Collection**
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
#Unpack a list:
import numpy as np
Names = ["Mark", "Kate", "Alice"]
x, y, z = Names
print(x)
print(y)
print(z)

L = np.random.randint(low=2,high=5,size=3)
print(L)
x, y, z = L
print(x+y+z)

Mark
Kate
Alice
[3 3 4]
10

In [ ]:
# creat a list of your names (i.e., firstname, middlename, lastname) and print them out

##**Output Variables**
The Python print() function is often used to output variables.

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

**In the print() function, you output multiple variables, separated by a comma:**

In [ ]:
#Example
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

**You can also use the + operator to output multiple variables:**

In [ ]:
#Example
#Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".
x = "I love "
y = "Data Science & Machine Learning "
z = "With Kofi"
print(x + y + z)

I love Data Science & Machine Learning With Kofi

In [ ]:
#For numbers, the + character works as a mathematical operator:
x = 95
y = 100
print(x + y)

**In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:**
##**WHY**?

In [ ]:
#Example
x = 5
y = "John"
print(x + y)

**The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:**

In [ ]:
#Example
x = 5
y = "John"
print(x, y)

##**Global Variables**
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
#Example
# Let's create a variable outside of a function, and use it inside the function

k = "awesome"

def myfunc():
  print("You are " + k)

myfunc()

You are awesome

**If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.**

In [ ]:
#Example
# Let's create a variable inside a function, with the same name as the global variable

k = "awesome"

def myfunc():
  k = "fantastic"
  print("You are " + k)
myfunc()

print("You are " + k)

You are fantastic
You are awesome

###**The global Keyword**
Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
#Example
#If we use the global keyword, the variable belongs to the global scope:

def myfunc():
  global i
  i = "fantastic"

myfunc()

print("You are " + i)

You are fantastic

**Also, use the global keyword if you want to change a global variable inside a function.**

####**Example**
To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("You are " + x)

You are fantastic

#**Task 1**
Now you have learned a lot about variables, and how to use them in Python.
Are you ready for a test?

In [ ]:
# Exercise
#Question 1: Create a variable named carname and assign the value Volvo to it.

In [ ]:
# Question 2: Display the sum of 20 + 50, using two variables: x and y.

In [ ]:
#Question 3: Remove the illegal characters in the variable name:
first_name = "John"

In [ ]:
#Question 4
#i. Create a variable named (n) and assign the value 60 to it.

s = str(input())
print(s)

# ii. Print out all from 0 to n-1
# hint you can use the for and range function

rrr
rrr

#**Python Data Types**
Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:


*   Text Type:	str
*   Numeric Types:	int, float, complex
*   Sequence Types:	list, tuple, range
*   Mapping Type:	dict
*   Set Types:	set, frozenset
*   Boolean Type:	bool
*   Binary Types:	bytes, bytearray, memoryview
*   None Type:	NoneType

##**Getting the Data Type**
You can get the data type of any object by using the type() function:

In [ ]:
#Example
#Print the data type of the variable x:

x = 10.67
print(type(x))

<class 'float'>

##**Setting the Data Type**
In Python, the data type is set when you assign a value to a variable:

In [ ]:
# Find the data type of the following variable
a = "Hello World"
b = 20
c = 20.5
d = 1j
e = ["apple", "banana", "cherry"]
f = ("apple", "banana", "cherry")
g = range(6)
h = {"name" : "John", "age" : 36}
i = {"apple", "banana", "cherry"}
j = frozenset({"apple", "banana", "cherry"})
k = True
l = b"Hello"
m = bytearray(5)
n = memoryview(bytes(5))
o = None

##**Setting the Specific Data Type**
If you want to specify the data type, you can use the following constructor functions:

In [ ]:
x = str("Wow! you are here")
k = list(("Fred", "Kate", "Alice"))

##**Python Numbers**
There are three numeric types in Python:
*   int
*   float
*  complex

Variables of numeric types are created when you assign a value to them:

In [ ]:
#Example
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [ ]:
#Example
print(type(x))
print(type(y))
print(type(z))

###**Int**
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

Example
Integers:

In [ ]:
x = 1
y = 245384896564786435784
z = -6435784

print(type(x))
print(type(y))
print(type(z))

###**Float**
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

Example
Floats:

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

**Float can also be scientific numbers with an "e" to indicate the power of 10.**

In [ ]:
%%html
<marquee style='width: 30%; color: blue;'><b>Float can also be scientific numbers with an "e" to indicate the power of 10.!</b></marquee>

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

###**Complex**
Complex numbers are written with a "j" as the imaginary part:

Example
Complex:

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

###**Type Conversion**
You can convert from one type to another with the int(), float(), and complex() methods:

Example
Convert from one type to another:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

##**Random Number**
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
#Example
#Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1, 10))

7

In [ ]:
#Example
#Set the seed value to 10 and see what happens:

random.seed(10)
print(random.random())

0.5714025946899135

In [ ]:
#Returns the current internal state of the random number generator
print(random.getstate())

(3, (2910518045, 2919558713, 592432859, 1634426085, 3924201493, 2436393689, 1577666200, 2922410003, 974169664, 795094350, 229866157, 130904809, 1313496028, 151893204, 3486739395, 1254617844, 3741002464, 4043461294, 940567236, 3349574631, 3489906999, 3261599347, 2403221536, 670872903, 3291149686, 2850655986, 2300538667, 1966995484, 175963536, 924945844, 1168257397, 2243822545, 2476790015, 2148121793, 3534563085, 1634343159, 2195478836, 1940344654, 370949334, 790535762, 1834814106, 4193214965, 3695000399, 2646949069, 1255132785, 3590688196, 3614018245, 1434516408, 1253983818, 2914647727, 2606531973, 2406691187, 1975526356, 189193241, 1108539432, 2680589103, 1694965793, 1270659808, 2973657439, 2369101683, 3184678051, 2395301497, 3818025635, 2083282924, 2495703181, 2124728846, 2038113894, 4244989963, 1156889065, 862609957, 2423551262, 3819059707, 663961624, 1681714007, 956580344, 1691052737, 2131558558, 654187240, 632833144, 3714198047, 567096537, 899554154, 1802427323, 749355744, 2193727072, 814094773, 1966673377, 3483188262, 3304963165, 1367177032, 3891513754, 2505812233, 2020523939, 1985742846, 626704061, 2653107502, 369960010, 286620024, 1371527384, 3694698447, 857611653, 869587454, 2700337194, 2374526720, 49116546, 643099391, 182535168, 3408150791, 1262701388, 2044935380, 66933741, 1206230504, 3689390267, 3730160777, 1209037781, 3887489275, 4160956783, 3262330543, 1378506881, 213395142, 4003002911, 1240622885, 1127976482, 862859126, 951706629, 423108747, 795053686, 963998611, 1732453326, 736754916, 848978347, 3030738943, 3997094088, 3230629491, 2362366182, 380869993, 1437617939, 4032723754, 2655721859, 494454313, 3031980635, 3186607144, 1650607978, 4217776597, 4190195720, 725273803, 4006933892, 2918307247, 2612992595, 3215906428, 2851350426, 138902605, 1697094929, 2328216144, 394484776, 1652463476, 1630639266, 3699042210, 290713434, 3556002357, 1343746095, 1326206488, 655702823, 104936293, 2562826877, 1655598022, 3369850420, 2464204480, 3646132136, 3777599822, 3250707394, 1311671700, 660106068, 2666540169, 3855967181, 3367262877, 3654600570, 4182463737, 2035454178, 3131455025, 3350888983, 2034228846, 3896381437, 553700319, 1513975352, 696913668, 899881025, 2219743994, 1037817141, 1134907302, 393009801, 1982642987, 2425999375, 791671476, 3795955847, 1034404248, 4020367997, 27481502, 1351841369, 2355714421, 2404611283, 479609721, 1112463824, 3928318551, 938984560, 719567750, 110352693, 1639696170, 3186598251, 761292111, 475645688, 2270995138, 728894833, 2926173947, 1320936647, 3383250105, 65720013, 2671014330, 2847387027, 2969121075, 3329352935, 3770288520, 3964206281, 4168182361, 1707359060, 1408257001, 3450715693, 628449203, 610896409, 588905957, 1322830820, 3640462283, 4044750620, 2988164925, 4083824041, 1990129261, 4156233382, 3627401237, 3211010341, 1666616239, 2972480848, 844583042, 44704583, 3282062939, 2321904370, 13127913, 2065944849, 2364468384, 476631061, 3534359369, 1647310850, 266968272, 3454720710, 1795924682, 1820316222, 2507582687, 1496785810, 3992024104, 2288242718, 1335683996, 723170702, 1489652666, 3949068654, 320306710, 4039547071, 1817806802, 3128530084, 1963667656, 2299476734, 2214544820, 256065957, 976636793, 438871982, 3257022782, 3658046347, 1888125657, 3003359985, 3232519787, 2193873780, 2536958314, 612736659, 1757352080, 4126160663, 4208600692, 3357929051, 1349803408, 709797723, 2862193196, 2733865338, 1847917732, 2982838690, 756992610, 416120390, 1772328840, 3511192812, 3639215236, 581323757, 3429866854, 3299034763, 81263526, 2143662131, 3509206122, 1142149236, 2288638797, 2314182509, 3192068459, 2648103877, 31364268, 2871284653, 1933723073, 3554926164, 3163027549, 896467848, 3570120642, 4038118284, 392098617, 1167346532, 1785455384, 2033872205, 1693658308, 2059628508, 2889657430, 2071562487, 4113666792, 3822310955, 3533962258, 1371655696, 1403861461, 421464014, 3959461194, 4149058179, 1086465771, 1015946246, 2621382350, 2000582283, 2881047661, 1627167598, 3039242003, 870964291, 3355521124, 2260981, 1193867314, 1982094414, 3007508121, 2789947772, 167554690, 3028775942, 3246523627, 3674172133, 2758002636, 1559765501, 2027717592, 2915111825, 1190458685, 1058903556, 2432688681, 971451939, 1888620569, 975460118, 1624467345, 136309091, 3997234029, 598318846, 2989382797, 3608316101, 45266846, 1528146332, 1965658838, 3637786198, 2524595919, 4232358541, 1631453446, 1639144870, 4020252532, 3236917143, 1360250576, 2788984411, 3762745571, 3613352771, 3217621372, 301525683, 1343328237, 376601489, 1111565393, 3852204545, 425855701, 3603214514, 336697868, 803277263, 4248673218, 3324796209, 1656738380, 3899708684, 4031041788, 2708835100, 1110160947, 1298501877, 1740735328, 862669803, 3200748959, 1070336453, 1445010694, 780106578, 153499529, 1688823727, 3505867478, 2474839954, 4132413130, 3784848098, 2090083651, 4108657297, 1011350285, 1479116717, 988654479, 1105442054, 380740504, 3203487161, 2643610060, 3322988986, 3221217626, 3592249213, 2779884253, 2044186223, 3076165135, 3806351734, 3060357717, 2863011615, 1169058161, 1113969302, 1045981805, 311464233, 2236176646, 1435805243, 3509008257, 2512719556, 3206195232, 1171330831, 3022981576, 3076049986, 1677146765, 3823183119, 1331676465, 774674370, 2425031589, 3005427466, 3407759373, 3141051671, 3903949247, 3364298405, 1079187575, 3726093522, 2717490088, 3888044370, 1773096918, 123582274, 3938703114, 116639222, 1093335968, 4230241756, 592927768, 1215086274, 990026541, 2309421364, 1242303966, 996591525, 4178510717, 3476836050, 2178247059, 3556310446, 2628742925, 122665979, 1780590194, 2922761788, 1222392510, 631653315, 3959254022, 3653793144, 612798403, 3314303312, 3895051139, 1208878662, 484620038, 3626750088, 3921956316, 3904249617, 3353478870, 249377279, 1753034227, 3565445698, 2095500303, 2480455683, 1292245244, 946291267, 684375320, 104145271, 2913686448, 2225127489, 2472333904, 750174656, 4004286304, 4085497527, 3271252141, 1864494644, 4199917053, 1358886282, 358292498, 2284423264, 797448349, 2293886434, 2336156133, 2389862705, 1443734706, 1644943784, 4261302510, 3324227082, 2865938428, 3042091860, 454590046, 1243572319, 1931670576, 709576968, 1404809709, 434868187, 2115929572, 4209433267, 1742225740, 824328396, 2952650178, 3096666239, 2887532264, 4149344548, 2648994466, 1276043052, 2495228838, 3764729951, 730275817, 4277707459, 1591279516, 312613621, 1748807698, 397249599, 3326824925, 892425536, 1889212692, 1705415062, 2399075847, 2028569480, 2077597603, 559770995, 216133874, 813523529, 1663090043, 1327536309, 1126315189, 3535249660, 1641628170, 348337888, 3109355426, 4058285115, 859672864, 2699711497, 816683043, 2182992420, 1814760603, 3746802868, 3646961272, 3713358315, 492059394, 1300908413, 3272406897, 1809600926, 2628610618, 244337251, 1948103926, 991353850, 543539075, 1534159671, 1747272920, 4028644690, 2570417421, 2025455257, 1249379269, 2357813788, 266006694, 1706446538, 1938738160, 2482161797, 3559851357, 3073890391, 227514435, 152405858, 1227333167, 261909105, 3384151334, 1102033054, 197708743, 1157470553, 478563148, 440882900, 686627002, 357675544, 477440013, 1561143843, 2428402127, 3322010885, 3820876946, 3288851063, 2607677986, 222929805, 4257935406, 3469582068, 3578401122, 3245095917, 1435026106, 1525707182, 1550874090, 3218908085, 1476614429, 1169975610, 1160989991, 1383567367, 4084887544, 2096043608, 2194693540, 2), None)

[ Random Module Reference](https://www.w3schools.com/python/module_random.asp)

Specify a Variable Type
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

*   **int()** - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
* **float()** - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
* **str()** - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

##**Strings**
Strings in python are surrounded by either single quotation marks, or double quotation marks.
'hello' is the same as "hello".
You can display a string literal with the print() function:

In [ ]:
print("I appreciate you coming to class")
print('I appreciate you coming to class')

###**Assign String to a Variable**
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a = "Hello"
print(a)

###**Multiline Strings**
You can assign a multiline string to a variable by using three quotes:

###**Example**
You can use three double quotes:

In [ ]:
a = """This course will introduce you to data science techniques, 
i.e., processing and interpreting data. You will use available program libraries/packages, 
applied data science methods, and software tools to describe data, discover hidden patterns or 
identify anomalies in data with a particular interest in IT data generated in modern computer networks."""
print(a)

This course will introduce you to data science techniques,
i.e., processing and interpreting data. You will use available program libraries/packages,
applied data science methods, and software tools to describe data, discover hidden patterns or
identify anomalies in data with a particular interest in IT data generated in modern computer networks.

In [ ]:
#Or three single quotes:
a = '''This course will introduce you to data science techniques, 
i.e., processing and interpreting data. You will use available program libraries/packages, 
applied data science methods, and software tools to describe data, discover hidden patterns or 
identify anomalies in data with a particular interest in IT data generated in modern computer networks.'''
print(a)

This course will introduce you to data science techniques,
i.e., processing and interpreting data. You will use available program libraries/packages,
applied data science methods, and software tools to describe data, discover hidden patterns or
identify anomalies in data with a particular interest in IT data generated in modern computer networks.

###**Strings are Arrays**
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
However, Python does not have a character data type, a single character is simply a string with a length of 1.
Square brackets can be used to access elements of the string.

In [ ]:
#Get the character at position 1 (remember that the first character has the position 0):

a = "Thank you for coming to class!"
print(a[1])

h

###**Looping Through a String**
Since strings are arrays, we can loop through the characters in a string, with a for loop

In [ ]:
#Loop through the letters in the word "banana":

for x in "Data Science and Machine Learning":
  print(x)

D
a
t
a

S
c
i
e
n
c
e

a
n
d

M
a
c
h
i
n
e

L
e
a
r
n
i
n
g

###**String Length**
To get the length of a string, use the len() function.

In [ ]:
#The len() function returns the length of a string:

a = "Data Science and Machine Learning!"
print(len(a))

34

###**Check String**
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [ ]:
#Check if "and" is present in the following text:

mytxt = "Data Science and Machine Learning!!"
print("and" in mytxt)

True

**Use it in an if statement:**

In [ ]:
#Print only if "free" is present:

mytxt = "Data Science and Machine Learning!!"
if "and" in mytxt:
  print("Yes, 'and' is present.")

Yes, 'and' is present.

###**Check if NOT**
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.
####**Example**
Check if "expensive" is NOT present in the following text:

In [ ]:
mytxt = "Data Science and Machine Learning!"
print("SoIT" not in mytxt)

True

In [ ]:
#Use it in an if statement:
#print only if "expensive" is NOT present:
mytxt = "Data Science and Machine Learning!"
if "expensive" not in mytxt:
  print("No, 'expensive' is NOT present.")

###**Slicing Strings**
You can return a range of characters by using the slice syntax.
Specify the start index and the end index, separated by a colon, to return a part of the string.
####**Example**
Get the characters from position 2 to position 5 (not included):

In [ ]:
mytxt = "Information Technology!"
print(mytxt[2:5])
#Note: The first character has index 0.

for

In [ ]:
#Slice From the Start
#By leaving out the start index, the range will start at the first character:
#Get the characters from the start to position 5 (not included):
print(mytxt[:5])

Infor

In [ ]:
#Slice To the End
#By leaving out the end index, the range will go to the end:
#Get the characters from position 2, and all the way to the end:
print(mytxt[2:])

formation Technology!

###**Negative Indexing**
Use negative indexes to start the slice from the end of the string:
####**Example**
Get the characters:
From: "l" in "Technology!" (position -5)
To, but not included: "d" in "Technology!" (position -2):
#####**Note:** 
it start from -0 = !, -1 = y, -2 = g, -3 = o, -4 = l

In [ ]:
mytxt = "Information Technology!"
print(mytxt[-5:-2])

log

###**Modify Strings**
Python has a set of built-in methods that you can use on strings.

####**Upper Case**

#####**Example**
The upper() method returns the string in upper case:

In [ ]:
print(mytxt.upper())

INFORMATION TECHNOLOGY!

In [ ]:
#The lower() method returns the string in lower case:
print(mytxt.lower())

information technology!

###**Remove Whitespace**
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

####**Example**
The strip() method removes any whitespace from the beginning or the end:

In [ ]:
mytxt = "  Information technology! "
print(mytxt.strip()) # returns "Information technology!"

Information technology!

### Replace String
Example
The replace() method replaces a string with another string:

In [ ]:
mytxt = "Information technology!"
print(mytxt.replace("g", "J"))

Information technoloJy!

###**Split String**
The split() method returns a list where the text between the specified separator becomes the list items.

**[Read More on String Methods Reference](https://www.w3schools.com/python/python_ref_string.asp)**

In [ ]:
#The split() method splits the string into substrings if it finds instances of the separator:
mytxt = "Information technology!"
print(mytxt.split(",")) # returns ['Information technology!']

['Information technology!']

###**String Concatenation**
To concatenate, or combine, two strings you can use the + operator.

####**Example**
Merge variable a with variable b into variable c:

In [ ]:
a = "I am praud to be part of the "
b = "MSc Information Technology"
c = "class of SoIT"
d = a + b + c
print(d)

I am praud to be part of the MSc Information Technologyclass of SoIT

In [ ]:
#To add a space between them, add a " ":

a = "Information"
b = "Technology"
c = a + " " + b
print(c)

###**Format - Strings**
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [ ]:
age = 36
mytxt = "My name is Kofi, I am " + age
print(mytxt)

TypeError: ignored

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [ ]:
#Use the format() method to insert numbers into strings:

age = 19
mytxt = "My name is Kofi, and I am {}"
print(mytxt.format(age))

My name is Kofi, and I am 19

**Note:** The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

**You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:**

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

**You can also use named indexes by entering a name inside the curly brackets {carname}, but then you must use names when you pass the parameter values txt.format(carname = "BMW"):**

In [ ]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "BMW", model = "2023 BMW X7"))

I have a BMW, it is a 2023 BMW X7.

###**Escape Characters**
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
#You will get an error if you use double quotes inside a string that is surrounded by double quotes:

mytxt = "We are the so-called "Vikings" from the north."

In [ ]:
#To fix this problem, use the escape character \":
#The escape character allows you to use double quotes when you normally would not be allowed:

mytxt = "We are the so-called \"Vikings\" from the north."

![image.png]()

[**String Methods**](https://www.w3schools.com/python/python_strings_methods.asp)

#**Python Booleans**

Booleans represent one of two values: True or False.

Boolean Values
In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
#Example
print(19 > 10)
print(19 == 10)
print(19 < 10)
#When you run a condition in an if statement, Python returns True or False:

True
False
False

In [ ]:
#Example
#Print a message based on whether the condition is True or False:

a = 50
b = 3

if b > a:
  print("b is greater than a")
else:
  print("b is lesser than a")

b is lesser than a

##**Evaluate Values and Variables**
The bool() function allows you to evaluate any value, and give you True or False in return,

In [ ]:
#Example
#Evaluate a string and a number:

print(bool("Data Science"))
print(bool(15))

True
True

In [ ]:
#Example
#Evaluate two variables:

x = "Data Science"
y = 15

print(bool(x))
print(bool(y))

True
True

##**Most Values are True**
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
#Example
#The following will return True:

bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

##**Some Values are False**
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [ ]:
#Example
#The following will return False:

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:

In [ ]:
#Example
class myclass():
  def Mylen (self):
    return 0

myobject = myclass()
print(bool(myobject))

True

##**Functions can Return a Boolean**
You can create functions that returns a Boolean Value:

Example
Print the answer of a function:

In [ ]:
def First_Function() :
  return True

print(First_Function())

True

In [ ]:
#You can execute code based on the Boolean answer of a function:

#Example
#Print "YES!" if the function returns True, otherwise print "NO!":

def First_Function() :
  return True

if First_Function():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [ ]:
#Example
#Check if an object is an integer or not:

k = 2000
print(isinstance(k, int))

True

# **Let us help the basic school student**
A young boy has to string variable a shown below

* sring variable First_string should be assign to "I love Machine Leaning and Data Mining"
* While string variable Second_string should be assign to "I love this class"

Now he want to write Python code that will:
* Convert this string to upper case
* compare the length of two strings and print out the longest one

In [ ]:
# Write your codes here....

In [ ]:
#@title
 # Edclare string variables
 First_string = "I love Machine Leaning and Data Mining"
 Second_string = "I love this class"

#Convert this string to upper case
First_string = First_string.upper()
Second_string =  Second_string .upper()

print("Your first string is " + First_string )
print("Your second string is " + Second_string )

if len(First_string)> len (Second_string): # check the if length of first string is bigger than the second
  print("Your first string variable is bigger the the second") # If it is true tell the person
elif len(Second_string) > len(First_string):  # check the if length of second string is bigger than the first
  print("Your second string variable is bigger the the first") # tell the person
else:
  print("Both strings are equal in length") # I think strings are equal




#Alternative 
# Alternatively
if (First_string > Second_string):
  print("Your first string variable is bigger the the second") # If it is true tell the person
elif (First_string < Second_string):
   print("Your second string variable is bigger the the first")

else:
  print("Both strings are equal in length") # I think strings are equal

Your first string is I LOVE MACHINE LEANING AND DATA MINING
Your second string is I LOVE THIS CLASS
Your first string variable is bigger the the second

#**Python Operators**
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [ ]:
#Example
print(10 + 5)

15

#**Python divides the operators in the following groups:**

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators
* Python Arithmetic Operators

**Arithmetic operators are used with numeric values to perform common mathematical operations:**

![image.png]()

#**Python Assignment Operators**
Assignment operators are used to assign values to variables:

![image.png]()

#**Python Comparison Operators**
Comparison operators are used to compare two values:

![image.png]()

#**Python Logical Operators**
Logical operators are used to combine conditional statements:

![image.png]()

#**Python Identity Operators**
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

![image.png]()

#**Python Membership Operators**
Membership operators are used to test if a sequence is presented in an object:

![image.png]()

#**Python Bitwise Operators**
Bitwise operators are used to compare (binary) numbers:

![image.png]()

#**Python Lists**


Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
myfirstlist = ["apple", "banana", "cherry"]
print(myfirstlist)

['apple', 'banana', 'cherry']

##**List Items**
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

#**Ordered**
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

In [ ]:
print (myfirstlist[1])

banana

##**Changeable**
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

###**Allow Duplicates**
Since lists are indexed, lists can have items with the same value:

####**Example**
Lists allow duplicate values:

In [ ]:
myfirstlist = ["apple", "banana", "cherry", "apple", "cherry"]
print(myfirstlist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
# Write a Python code to peint the 3rd item in the list name myfirstlist

##**List Length**
To determine how many items a list has, use the len() function:

###**Example**
Print the number of items in the list:

In [ ]:
myfirstlist = ["Kofi", "John", "Job", "Mike"]
print(len(myfirstlist))

4

##**List Items - Data Types**
List items can be of any data type:

###**Example**
String, int and boolean data types:

In [ ]:
list_1 = ["Kofi", "John", "Job", "Mike"]
list_2 = [10, 67.98, 7, 23, 63]
list_3 = [True, False, False]
list_4 = ["abc", 34, True, 40.87, "male"]
#A list can contain different data types:
#A list with strings, integers and boolean values:

**type()**
From Python's perspective, lists are defined as objects with the data type 'list':

<class 'list'>

In [ ]:
# Let check the type of our above list
print (type(list_1))
print (type(list_2))

<class 'list'>
<class 'list'>

##**The list() Constructor**
It is also possible to use the list() constructor when creating a new list.

###**Example**
Using the list() constructor to make a List:

In [ ]:
list_5 = list(("Kofi", "John", "Job", "Mike"))
print(list_5)

['Kofi', 'John', 'Job', 'Mike']

In [ ]:
# Let creat a List of list (3 x 3)
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

easier_to_read_list_of_lists = [[1, 2, 3],
                                [4, 5, 6],
                                [7, 8, 9]]

print(easier_to_read_list_of_lists )

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

##**Python Collections (Arrays)**
There are four collection data types in the Python programming language:

* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* **Dictionary** is a collection which is ordered** and changeable. No duplicate members.
* Set items are unchangeable, but you can remove and/or add items whenever you like.

* As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

##**Python - Access List Items**

List items are indexed and you can access them by referring to the index number:

###**Example**
Print the second item of the list:

In [ ]:
#Let print the first itm of list_1
# Note: The first item has index 0.
list_1 = ["Kofi", "John", "Job", "Mike"]
print(list_1[0])

Kofi

##**Negative Indexing**
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
# Let us print the last item of the list_1
list_1 = ["Kofi", "John", "Job", "Mike"]
print(list_1[-1])

Mike

##**String Slicing**
In Python, string slicing enables us to extract substrings from a string by applying some complex manipulation of indices. This is one of the most powerful operations that sequences provide. String slicing has been fully covered in our tutorial on “Python String Operator and Methods“.

Syntax

slice([start,] stop[, step])
or

slice(stop)
slice(start, stop[, step])

Given below are some details about its syntax’s parameters

**start:** Represents the starting index value for the slicing. It’s optional and it defaults to None(beginning of the string at index 0).

**stop:** Represents the ending index value for the slicing. It’s mandatory.

**step:** Represents the steps between each index for slicing. It’s optional and it may be an increment step(positive number) or decrement step(negative number).
[Source](https://www.softwaretestinghelp.com/python/python-string-functions/)

##**Range of Indexes**
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
Fruits_bank = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

# For the list above let's return the second (1), third (2), fourth(3), and fifth (4) item:
print(Fruits_bank[1:5])

#Note: The search will start at index 1 (included) and end at index 5 (not included).
#Remember that the first item has index 0.

['banana', 'cherry', 'orange', 'kiwi']

In [ ]:
#Now try return all the items from the beginning to, but NOT including, "kiwi":
Fruits_bank = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(Fruits_bank[:4])
#By leaving out the start value, the range will start at the first item:

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#By leaving out the end value, the range will go on to the end of the list:
#Let's return all the items from "cherry" to the end:
Fruits_bank = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(Fruits_bank[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Range of Negative Indexes
#Let us return all the items from "orange" (-4) to, but NOT including "mango" (-1):
Fruits_bank = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(Fruits_bank[-4:-1])

['orange', 'kiwi', 'melon']

##**Check if Item Exists**
To determine if a specified item is present in a list use the **in** keyword:

In [ ]:
#Check if "apple" is present in the list:
Fruits_bank = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

if "apple" in Fruits_bank:
  print("Yes, 'apple' is in the fruits list")
else:
  print("No, 'apple' is not in the fruits list")

Yes, 'apple' is in the fruits list

###**Change List Items**
Change Item Value
To change the value of a specific item, refer to the index number:

In [ ]:
# For he list below let's change the second item to coconut
Fruits_bank = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

Fruits_bank[1] = "coconut"
print(Fruits_bank)

['apple', 'coconut', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

##**Change a Range of Item Values**
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
#Let us change the values "banana" and "cherry" with the values "pear" and "watermelon":

Fruits_bank = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
Fruits_bank[1:3] = ["pear", "watermelon"]
print(Fruits_bank)

['apple', 'pear', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
#Let us change the second value by replacing it with two new values:

Fruits_bank = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
Fruits_bank[1:2] = ["Data Science", "Information Technology"]
print(Fruits_bank)

#Note: The length of the list will change when the number of items inserted does not match the number of items replaced.

['apple', 'Data Science', 'Information Technology', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
#Let us change the second and third value by replacing it with one value:

Fruits_bank = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
Fruits_bank[1:3] = ["good"]
print(Fruits_bank)

['apple', 'good', 'orange', 'kiwi', 'melon', 'mango']

##**Insert Items**
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
#Insert "John" as the third item:

FirstNames= ["Isaac", "Luke", "Mathew"]
FirstNames.insert(2, "John")
print(FirstNames)

#Note: As a result of the example above, the list will now contain 4 items.

['Isaac', 'Luke', 'John', 'Mathew']

In [ ]:
# Now add your first name as the first item and surname as last item

##**Add List Items**

###**Append Items**
To add an item to the end of the list, use the append() method:

In [ ]:
#Let us use the append() method to append an item:
#Let append Kofi
FirstNames = ["Isaac", "Luke", "Mathew"]
FirstNames.append("Kofi")
print(FirstNames)

['Isaac', 'Luke', 'Mathew', 'Kofi']

###**Insert Items**
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
#Let us insert an item as the second position:

FirstNames = ["Isaac", "Luke", "Mathew"]
FirstNames.insert(1, "Nti")
print(FirstNames)

#Note: As a result of the examples above, the lists will now contain 4 items.

['Isaac', 'Nti', 'Luke', 'Mathew']

###**Extend List**
To append elements from another list to the current list, use the extend() method.

In [ ]:
# Let us add the elements of Surnames to FirstNames:

FirstNames = ["Isaac", "Luke", "Mathew"]
Surnames = ["Antwi", "Nti", "Nkrumah"]
FirstNames.extend(Surnames)
print(FirstNames)

#The elements will be added to the end of the list.

['Isaac', 'Luke', 'Mathew', 'Antwi', 'Nti', 'Nkrumah']

###**Add Any Iterable**
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
#Add elements of a tuple to a list:

FirstNames = ["Isaac", "Luke", "Mathew"]
Tuple_Surnames = ("Antwi", "Nti", "Nkrumah")
FirstNames.extend(Tuple_Surnames)
print(FirstNames)

['Isaac', 'Luke', 'Mathew', 'Antwi', 'Nti', 'Nkrumah']

##**Remove List Items**

In [ ]:
#Remove Specified Item
#The remove() method removes the specified item.
#Remove "Luke":
FirstNames = ["Isaac", "Luke", "Mathew"]
FirstNames.remove("Luke")
print(FirstNames)

['Isaac', 'Mathew']

##**Remove Specified Index**
The pop() method removes the specified index.

In [ ]:
#Remove the second item:

FirstNames = ["Isaac", "Luke", "Mathew"]
FirstNames.pop(1)
print(FirstNames)

['Isaac', 'Mathew']

In [ ]:
#If you do not specify the index, the pop() method removes the last item.
FirstNames = ["Isaac", "Luke", "Mathew"]
FirstNames.pop()
print(FirstNames)

['Isaac', 'Luke']

In [ ]:
#The del keyword also removes the specified index:
#Remove the first item:

FirstNames = ["Isaac", "Luke", "Mathew"]
del FirstNames[0]
print(FirstNames)

['Luke', 'Mathew']

In [ ]:
#The del keyword can also delete the list completely.
#Delete the entire list:

FirstNames = ["Isaac", "Luke", "Mathew"]
del FirstNames

##**Clear the List**
The clear() method empties the list.

The list still remains, but it has no content.

In [ ]:
#Clear the list content:

FirstNames = ["Isaac", "Luke", "Mathew"]
FirstNames.clear()
print(FirstNames)

[]

###**Loop Lists**

In [ ]:
#We can loop through the list items by using a for loop:
FirstNames = ["Isaac", "Luke", "Mathew"]
for items in FirstNames:
  print(items)

Isaac
Luke
Mathew

###**Loop Through the Index Numbers**
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [ ]:
# Let us print all items by referring to their index number:

FirstNames = ["Isaac", "Luke", "Mathew"]
for i in range(len(FirstNames)):
  print(FirstNames[i])

#The iterable created  is [0, 1, 2].

Isaac
Luke
Mathew

###**Using a While Loop**
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [ ]:
#Print all items, using a while loop to go through all the index numbers

FirstNames = ["Isaac", "Luke", "Mathew"]
i = 0
while i < len(FirstNames):
  print(FirstNames[i])
  i = i + 1

Isaac
Luke
Mathew

###**Looping Using List Comprehension**
List Comprehension offers the shortest syntax for looping through lists:

In [ ]:
#A short hand for loop that will print all items in a list:

FirstNames = ["Isaac", "Luke", "Mathew"]
[print(x) for x in FirstNames]

Isaac
Luke
Mathew

[None, None, None]

###**List Comprehension**
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [ ]:
FirstNames = ["Isaac", "Luke", "Mathew","Antwi", "Nti", "Nkrumah"]

newlist = []

for x in FirstNames:
  # check if the letter 'a' is in any item of firstnames
  if "a" in x:
    newlist.append(x)

print(newlist)

['Isaac', 'Mathew', 'Nkrumah']

In [ ]:
#With list comprehension you can do all that with only one line of code:
FirstNames = ["Isaac", "Luke", "Mathew","Antwi", "Nti", "Nkrumah"]

newlist = [x for x in FirstNames if "a" in x]

print(newlist)

['Isaac', 'Mathew', 'Nkrumah']

####**The Syntax**
newlist = [expression for item in iterable if condition == True]
The return value is a new list, leaving the old list unchanged.

#####**Condition**
The condition is like a filter that only accepts the items that valuate to True.

In [ ]:
#Only accept items that are not "apple":

newlist = [x for x in FirstNames if x != "Luke"]
#The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".
#Let see
print(newlist)

['Isaac', 'Mathew', 'Antwi', 'Nti', 'Nkrumah']

In [ ]:
#The condition is optional and can be omitted:
#With no if statement:

newlist = [x for x in FirstNames]
print(newlist)

['Isaac', 'Luke', 'Mathew', 'Antwi', 'Nti', 'Nkrumah']

####**Iterable**
The iterable can be any iterable object, like a list, tuple, set etc.

In [ ]:
#You can use the range() function to create an iterable:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Le look at same example, but with a condition:
#Accept only numbers from 1 to 20 that are divisible be 2:

newlist = [x for x in range(1,20) if x%2 ==0]
print(newlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

####**Expression**
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [ ]:
#Set the values in the new list to upper case:

newlist = [x.upper() for x in FirstNames]
print(newlist)

['ISAAC', 'LUKE', 'MATHEW', 'ANTWI', 'NTI', 'NKRUMAH']

In [ ]:
#You can set the outcome to whatever you like:
#Set all values in the new list to 'good':

newlist = ['good' for x in FirstNames]
print(newlist)

['good', 'good', 'good', 'good', 'good', 'good']

In [ ]:
#The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:
#Return "Isaac" instead of "Nti":

newlist = [x if x != "Nti" else "Isaac" for x in FirstNames]

#This expression says:
#Return the item if it is not Nti, if it is Nti return Isaac".
print(newlist)

['Isaac', 'Luke', 'Mathew', 'Antwi', 'Isaac', 'Nkrumah']

##**Sort Lists**

###**Sort List Alphanumerically**
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [ ]:
#Let us sort the list alphabetically:

FirstNames = ["Isaac", "Luke", "Mathew","John","Fred", "Alex"]
FirstNames.sort()
print(FirstNames)

['Alex', 'Fred', 'Isaac', 'John', 'Luke', 'Mathew']

In [ ]:
#Sort the list numerically:

Numlist = [110, 70, 2, 65, 82, 23, 12, 8,3]
Numlist.sort()
print(Numlist)

[2, 3, 8, 12, 23, 65, 70, 82, 110]

In [ ]:
#Sort Descending
#To sort descending, use the keyword argument reverse = True:
FirstNames = ["Isaac", "Luke", "Mathew","John","Fred", "Alex"]
FirstNames.sort(reverse = True)
print(FirstNames)

['Mathew', 'Luke', 'John', 'Isaac', 'Fred', 'Alex']

In [ ]:
#Sort the list descending:
Numlist = [110, 70, 2, 65, 82, 23, 12, 8,3]
Numlist.sort(reverse = True)
print(Numlist)

[110, 82, 70, 65, 23, 12, 8, 3, 2]

###**Customize Sort Function**
You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

In [ ]:
#Let us sort our Numlist based on how close the number is to 50:

Numlist = [110, 70, 2, 65, 82, 23, 12, 8,3]
def myfunc(n):
  return abs(n - 70)


Numlist.sort(key = myfunc)
print(Numlist)

[70, 65, 82, 110, 23, 12, 8, 3, 2]

###**Case Insensitive Sort**
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [ ]:
#Case sensitive sorting can give an unexpected result:

FirstNames = ["Isaac", "Luke", "mathew","John","Fred", "alex"]
FirstNames.sort()
print(FirstNames)

['Fred', 'Isaac', 'John', 'Luke', 'alex', 'mathew']

In [ ]:
#Luckily we can use built-in functions as key functions when sorting a list.

#So if you want a case-insensitive sort function, use str.lower as a key function:

#Perform a case-insensitive sort of the list:

FirstNames = ["Isaac", "Luke", "mathew","John","Fred", "alex"]
FirstNames.sort(key = str.lower)
print(FirstNames)

['alex', 'Fred', 'Isaac', 'John', 'Luke', 'mathew']

###**Reverse Order**
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [ ]:
#Reverse the order of the list items:

FirstNames = ["Isaac", "Luke", "mathew","John","Fred", "alex"]
FirstNames.reverse()
print(FirstNames)

['alex', 'Fred', 'John', 'mathew', 'Luke', 'Isaac']

##**Copy Lists**

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [ ]:
#Make a copy of a list with the copy() method:

FirstNames = ["Isaac", "Luke", "mathew","John","Fred", "alex"]
Copy_FirstNames = FirstNames.copy()
print(FirstNames)

['Isaac', 'Luke', 'mathew', 'John', 'Fred', 'alex']

In [ ]:
# What will happen if we assigne the firstlist to the new list
FirstNames = ["Isaac", "Luke", "mathew","John","Fred", "alex"]
Copy_FirstNames_1 = FirstNames
print(Copy_FirstNames_1)
print(FirstNames)
#Alternatively we can copy with assignment statement

['Isaac', 'Luke', 'mathew', 'John', 'Fred', 'alex']
['Isaac', 'Luke', 'mathew', 'John', 'Fred', 'alex']

In [ ]:
#Another way to make a copy is to use the built-in method list().
FirstNames = ["Isaac", "Luke", "mathew","John","Fred", "alex"]
Copy_FirstNames_2 = list(FirstNames)
print(Copy_FirstNames_2)

['Isaac', 'Luke', 'mathew', 'John', 'Fred', 'alex']

##**Join Lists**
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [ ]:
#Let us join the following two list:

First_list = ['Isaac', 'Luke', 'mathew', 'John', 'Fred', 'alex']
Second_list = [10, 12, 34, 99, 17, 100]

Final_List = First_list + Second_list
print(Final_List)

['Isaac', 'Luke', 'mathew', 'John', 'Fred', 'alex', 10, 12, 34, 99, 17, 100]

In [ ]:
#Another way to join two lists is by appending all the items from Second_list into First_list, one by one:
First_list = ['Isaac', 'Luke', 'mathew', 'John', 'Fred', 'alex']
Second_list = [10, 12, 34, 99, 17, 100]
for items in Second_list:
  First_list.append(items)
print (First_list)

['Isaac', 'Luke', 'mathew', 'John', 'Fred', 'alex', 10, 12, 34, 99, 17, 100]

In [ ]:
#Or you can use the extend() method, which purpose is to add elements from one list to another list:
#Use the extend() method to add Second_list at the end of First_list:
First_list = ['Isaac', 'Luke', 'mathew', 'John', 'Fred', 'alex']
Second_list = [10, 12, 34, 99, 17, 100]

First_list.extend(Second_list)

print(First_list)

['Isaac', 'Luke', 'mathew', 'John', 'Fred', 'alex', 10, 12, 34, 99, 17, 100]

In [ ]:
a = [1,2,3,4,5]
b = a.copy()
a.append(6)
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [ ]:
numbers = [5, 10, 25, 20, 25, 30, 35, 40]

print(numbers)
Sum = sum(numbers)

print("Sum of list = ", Sum)

[5, 10, 25, 20, 25, 30, 35, 40]
Sum of list =  190

In [ ]:
numbersDuplicate = [4,6,8,9,3,7,2, 4, 19, 3, 56]

#Hint: U can use
# *set() 
# set()
#list comprehension 
#list comprehension + enumerate()

Original List:  [4, 6, 8, 9, 3, 7, 2, 4, 19, 3, 56]
List after removing duplicate elements:  [2, 3, 4, 6, 7, 8, 9, 19, 56]

In [ ]:
#@title
print("Original List: ", numbers)
numbers_No_Duplicate = [*set(numbersDuplicate)]
print("List after removing duplicate elements: ", numbers_No_Duplicate)

##**List Methods**
![image.png]()

In [ ]:
#For the list shown below print the index of Kwame
Students = ['Afia','Mike','Kwame','Luke','Ruth']
print(Students.index('Kwame'))

2

In [ ]:
#@title
Students = ['Afia','Mike','Kwame','Luke','Ruth']
print(Students.index('Kwame'))

2

In [ ]:
Names=["Kofi","Mike","Kate"]

Names[1:2]

['Mike']

In [ ]:
def Dog(s):

  s = 10
  return s

print(Dog('Rover'))
type(Dog('Rover'))

10

int

##**Tuples**
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
#Let create our first Tuple:

First_Tuple = ("Ama", "Kate", "Selena")
print(First_Tuple)

('Ama', 'Kate', 'Selena')

###**Tuple Items**
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

###**Ordered**
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

###**Unchangeable**
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

###**Allow Duplicates**
Since tuples are indexed, they can have items with the same value:

In [ ]:
#Tuples allow duplicate values:
First_Tuple = ("Ama", "Kate", "Selena", "Ama", "Kate", "Selena")

print(First_Tuple)

('Ama', 'Kate', 'Selena', 'Ama', 'Kate', 'Selena')

In [ ]:
#Tuple Length
#To determine how many items a tuple has, use the len() function:
print(len(First_Tuple))

6

In [ ]:
#Create Tuple With One Item
#To create a tuple with only one item, 
#we have to add a comma after the item, otherwise Python will not recognize it as a tuple.

First_Tuple_2 = ("Ama",)

print(First_Tuple_2)

print(type(First_Tuple_2))

('Ama',)
<class 'tuple'>

In [ ]:
#Tuple Items - Data Types
#Tuple items can be of any data type:
#String, int and boolean data types:

tuple_1 = ("apple", "banana", "cherry", "coconut")
tuple_2 = (1, 5, 10, 7, 9, 3)
tuple_3 = (True, False, False, True)

In [ ]:
#A tuple can contain different data types:
#A tuple with strings, integers and boolean values:
tuple_4 = ("abc", 34, True, 40, "male")

In [ ]:
#The tuple() Constructor
#It is also possible to use the tuple() constructor to make a tuple.

#Using the tuple() method to make a tuple:

thistuple_5 = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple_5)

###**Change Tuple Values**
Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
#Convert the tuple into a list to be able to change it:

x = ("Mark", "Fred", "Isaac")
y = list(x)
y[1] = "Kofi"
x = tuple(y)

print(x)

('Mark', 'Kofi', 'Isaac')

###**Add Items**
Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [ ]:
#Convert the tuple into a list, add "Kofi", and convert it back into a tuple:

mytuple = ("Mark", "Fred", "Isaac")
y = list(mytuple)
y.append("Kofi")
mytuple = tuple(y)

**Add tuple** to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [ ]:
#Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

#Note: When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.

###**Remove Items**
Note: You cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [ ]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:

Courses = ("Data Science", "Cybersecurity", "Research Methods", "Python Programming")
y = list(Courses)
y.remove("Python Programming")
Courses = tuple(y)
print(Courses)

('Data Science', 'Cybersecurity', 'Research Methods')

In [ ]:
#Or you can delete the tuple completely:

#The del keyword can delete the tuple completely:

Courses = ("Data Science", "Cybersecurity", "Research Methods")
del Courses
print(Courses) #this will raise an error because the tuple no longer exists

NameError: ignored

###**Unpacking a Tuple**
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [ ]:
#Packing a tuple:

Courses = ("Data Science", "Cybersecurity", "Research Methods")

In [ ]:
#But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

#Unpacking a tuple:

Courses = ("Data Science", "Cybersecurity", "Research Methods")

(green, yellow, red) = Courses

print(green)
print(yellow)
print(red)

Data Science
Cybersecurity
Research Methods

##**Using Asterisk*** 
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [ ]:
#Assign the rest of the values as a list called "red":

Courses = ("Data Science", "Cybersecurity", "Research Methods", "Mathematis", "Python Programming")

(green, yellow, *red) = Courses 

print(green)
print(yellow)
print(red)

Data Science
Cybersecurity
['Research Methods', 'Mathematis', 'Python Programming']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [ ]:
#Add a list of values the "tropic" variable:

Courses = ("Data Science", "Cybersecurity", "Research Methods", "Mathematis", "Python Programming")

(level_1, *level_2, level_3) = Courses

print(level_1)
print(level_2)
print(level_3)

Data Science
['Cybersecurity', 'Research Methods', 'Mathematis']
Python Programming

###**Loop Through a Tuple**

In [ ]:
#You can loop through the tuple items by using a for loop.

#Iterate through the items and print the values:

Courses = ("Data Science", "Cybersecurity", "Research Methods", "Mathematis", "Python Programming")
for x in Courses:
  print(x)

Data Science
Cybersecurity
Research Methods
Mathematis
Python Programming

In [ ]:
#Print all items by referring to their index number:

Courses = ("Data Science", "Cybersecurity", "Research Methods", "Mathematis", "Python Programming")
for i in range(len(Courses)):
  print(Courses[i])

Data Science
Cybersecurity
Research Methods
Mathematis
Python Programming

In [ ]:
#Print all items, using a while loop to go through all the index numbers:

Courses = ("Data Science", "Cybersecurity", "Research Methods", "Mathematis", "Python Programming")
i = 0
while i < len(Courses):
  print(Courses[i])
  i = i + 1

Data Science
Cybersecurity
Research Methods
Mathematis
Python Programming

##**Join Two Tuples**

In [ ]:
#Join two tuples:

Courses = ("Data Science", "Cybersecurity", "Research Methods", "Mathematis", "Python Programming")
Numbers = (1, 2, 3, 4, 5)

Course_Numbers = Courses + Numbers

print(Course_Numbers )

('Data Science', 'Cybersecurity', 'Research Methods', 'Mathematis', 'Python Programming', 1, 2, 3, 4, 5)

In [ ]:
#Multiply Tuples
#If you want to multiply the content of a tuple a given number of times, you can use the * operator:
Courses = ("Data Science", "Cybersecurity", "Research Methods", "Mathematis", "Python Programming")
Courses_Mult = Courses  * 2

print(Courses_Mult)

('Data Science', 'Cybersecurity', 'Research Methods', 'Mathematis', 'Python Programming', 'Data Science', 'Cybersecurity', 'Research Methods', 'Mathematis', 'Python Programming')

In [ ]:
#Tuple count() Method
#Return the number of times the value 7 appears in the tuple:

Numbers = (1, 3, 7, 8, 7, 5, 4, 6, 8, 7, 12, 90)

x = Numbers.count(7)

print(x)

3

#**Sets**


Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

In [ ]:
Courses = {"Data Science", "Cybersecurity", "Research Methods", "Mathematis", "Python Programming"}
print(Courses)

#Note: Sets are unordered, so you cannot be sure in which order the items will appear.

{'Data Science', 'Research Methods', 'Mathematis', 'Python Programming', 'Cybersecurity'}

###**Set Items**
Set items are unordered, unchangeable, and do not allow duplicate values.

###**Unordered**
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

###**Unchangeable**
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

**Once a set is created, you cannot change its items, but you can remove items and add new items.**

###**Duplicates Not Allowed**
Sets cannot have two items with the same value.

In [ ]:
Courses = {"Data Science", "Cybersecurity", "Research Methods", "Cybersecurity", "Mathematis", "Research Methods"}
print(Courses)

{'Data Science', 'Research Methods', 'Mathematis', 'Cybersecurity'}

##**Add Items**
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

In [ ]:
Courses = {"Data Science", "Cybersecurity", "Research Methods"}
Courses.add("Mathematics")
print(Courses)

{'Data Science', 'Research Methods', 'Mathematics', 'Cybersecurity'}

In [ ]:
#To add items from another set into the current set, use the update() method.

# let add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'papaya', 'banana', 'apple', 'cherry', 'mango'}

In [ ]:
#Add Any Iterable
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).
#Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'kiwi', 'orange', 'banana', 'apple'}

**Remove Set Items**

In [ ]:
#To remove an item in a set, use the remove(), or the discard() method.
#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

#Note: If the item to remove does not exist, remove() will raise an error.

{'apple', 'cherry'}

In [ ]:
#Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

#Note: If the item to remove does not exist, discard() will NOT raise an error.

{'apple', 'cherry'}

###**Join Two Sets**
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [ ]:
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 3, 'b', 'c'}

In [ ]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

#Note: Both union() and update() will exclude any duplicate items.

{1, 2, 'a', 3, 'b', 'c'}

**Keep ONLY the Duplicates**

The intersection_update() method will keep only the items that are present in both sets.

In [ ]:
#Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [ ]:
#Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

**Keep All, But NOT the Duplicates**

The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [ ]:
#Keep the items that are not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

The ***symmetric_difference()*** method will return a new set, that contains only the elements that are NOT present in both sets.

In [ ]:
#Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

#**Python Dictionaries**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values:

In [ ]:
my_dictionary = {
    'apple': 'A red fruit', 
    'bear': 'A scary animal',
    'Python': 'A programming language'
}

##**Dictionary Items**
Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
my_dictionary['apple']

'A red fruit'

**Ordered or Unordered?**

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

**Changeable**

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

**Duplicates Not Allowed**

Dictionaries cannot have two items with the same key:

In [ ]:
#Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
#The dict() Constructor
#It is also possible to use the dict() constructor to make a dictionary.

thisdict = dict(name = "Isaac", age = 36, country = "Ghana")

print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
#Get the value of the "model" key:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [ ]:
#There is also a method called get() that will give you the same result:
#Get the value of the "model" key:

x = thisdict.get("model")

print(x)

Mustang

In [ ]:
#Get a list of the keys:

x = thisdict.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

##**Nested Dictionaries**
A dictionary can contain dictionaries, this is called nested dictionaries.

In [ ]:
Courses = {
  "Course1" : {
    "Title" : "Machine Learning & Data Mining",
    "Instructor" : "I. K. Nti"
  },
  "Course2" : {
    "Title" : "Principles of Cybersecurity",
    "Instructor" : "Dr. Pinto"
  },
  "Course3" : {
    "Title" : "IT Project",
    "Instructor" : "Mr. Love"
  }
}

In [ ]:
#Or, if you want to add three dictionaries into a new dictionary:
#Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

Course1 = {
    "Title" : "Machine Learning & Data Mining",
    "Instructor" : "I. K. Nti"
  }


Course2 = {
    "Title" : "Principles of Cybersecurity",
    "Instructor" : "Dr. Pinto"
  }

Course3 = {
    "Title" : "IT Project",
    "Instructor" : "Mr. Love"
  }

#Put all in one

mycourses = {
  "course1" : Course1,
  "course2" : Course2,
  "course3" : Course3
}

print(mycourses)

{'course1': {'Title': 'Machine Learning & Data Mining', 'Instructor': 'I. K. Nti'}, 'course2': {'Title': 'Principles of Cybersecurity', 'Instructor': 'Dr. Pinto'}, 'course3': {'Title': 'IT Project', 'Instructor': 'Mr. Love'}}

#**Control Flow**

**In Python we can achieve decision making by using the following statements:**

* if statements
* if-else statements
* elif statements
* Nested if and if-else statements
* elif ladder

#1) if statements
Python if statement is one of the most commonly used conditional statements in programming languages. It decides whether certain statements need to be executed or not. It checks for a given condition, if the condition is true, then the set of code present inside the ” if ” block will be executed otherwise not.

The if condition evaluates a Boolean expression and executes the block of code only when the Boolean expression becomes TRUE.

![image.png]()

##**Python If ... Else**

Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [ ]:
#If statement:

a = 33
b = 200
if b > a:
  print("b is greater than a")

In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".


###**Elif**
The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

###**Else**

The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

You can also have an else without the elif:

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

###**Short Hand If**
If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
##One line if statement:

if a > b: print("a is greater than b")

###**Short Hand If ... Else**
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [ ]:
#One line if else statement:

a = 2
b = 330
print("A") if a > b else print("B")

This technique is known as Ternary Operators, or Conditional Expressions.

You can also have multiple else statements on the same line:

In [ ]:
#One line if else statement, with 3 conditions:

a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

###**And**
The and keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
#Test if a is greater than b, AND if c is greater than a:

a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

###**Or**
The or keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
#Test if a is greater than b, OR if a is greater than c:

a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

###**Nested If**
You can have if statements inside if statements, this is called nested if statements.

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

In [ ]:
a = True
b = False
c = True
if a:
    print('It is true!')
    print('Also print this')
    if b:
        print('Both are true')
        if c:
            print('All three are true')
else:
    print('It is false!')
print('Always print this')

**The pass Statement**

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [ ]:
a = 33
b = 200

if b > a:
  pass

#**Task 2**
In Faith college of science and technology student are graded based on a special grading scheme as shown bellow. 
The institution wansts to automate the process such that when a user enetrs a student score as input the system will assigned a grade to the student based on their grading scheme.

With your experience so far in Python programming help the institution accomplish this task.

![image.png]()

In [ ]:
def College (grade):
  if grade >= 85:
    print('')

In [ ]:
#@title
# make grading decision based on conditional statements
# if, elif, else
def Grade_system (score): # Creat a simple rading function that take student score 
    if score >= 85: # check if the student score is 85 or more
        return "A+"
    elif score >= 80:
        return "A"
    elif score >= 75:
        return "B+"
    elif score >= 70:
        return "B"
    elif score >= 65:
        return "C+"
    elif score >= 60:
        return "C"
    elif score >= 55:
        return "D+"
    elif score >= 50:
        return "D"
    else:
        return "F"
    
grade = Grade_system(int(float(input("Enter your score: "))))
print(grade)

Enter your score: 56.9
D+

##**Task No. 3**

A Basic schol student want to check is a number is a prime number or not.

Using your acquired skills write a simple Python code to help him solve his problem

In [ ]:
# write your codes here

In [ ]:
#@title
# Solution 1
# We build our program based on the fact that a prime number has only two factors 1 and the number it self.
# To take input from the user
number = int(input("Enter a number: "))

# creat a factor variable
factor = 0

# check if the number entered is bigger than 1
if number > 1:
    # check for the factors of number
    factor = 0 # set factor to zero (0) for every new input number
    for k in range(1, number): # generate integer from 1 to numbers
        if (number % k) == 0: # if number divided by any integer from 1 to number gives a reminder then its a factor
            # if factor is found, increase factor by 1
            factor = factor + 1
            if(factor > 2):  # break out of loop if we have two or more factors
              break

# check if flag is True
if (factor <= 2):
    print(number, "is a prime number")
else:
    print(number, "is not a prime number")


#Note: Try improve the program by decreasing the range of numbers where we look for factors.
#Tips
# Reduce range range(2,num//2) or range(2,math.floor(math.sqrt(num)+1))

Enter a number: 7
7 is a prime number

In [ ]:
#@title
#Solution 2
def Check_prime(number):
  for j in range(2,number):
    if (number % j) == 0:
      return False
  return True

if(Check_prime(int(input("Enter a number: ")))== True):
  print("Number is a prime")
else:
  print("Number not a prime")

Enter a number: 11
Number is a prime

##**While Loops**

Python has two primitive loop commands:

* while loops
* for loops

**The while Loop**

With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
#Print i as long as i is less than 6:

a = 0
while a < 5:
    print(a)
    a = a + 1
#Note: remember to increment i, or else the loop will continue forever.

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

**The break Statement**

With the break statement we can stop the loop even if the while condition is true:

In [ ]:
#Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

**The continue Statement**

With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
#Continue to the next iteration if i is 3:

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

**The else Statement**

With the else statement we can run a block of code once when the condition no longer is true:

In [ ]:
#Print a message once the condition is false:

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

##**The For Loop**

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
names = ["Isaac", "Fred", "Mike"]
for x in names:
  print(x)

**Looping Through a String**

Even strings are iterable objects, they contain a sequence of characters:

In [ ]:
#Loop through the letters in the word "banana":

for x in "Fred":
  print(x)

In [ ]:
#before we move on to the looping structure, let's take a look at range class
i=range(100,10,-9)
print([a for a in i])

start = 1
end = 100
step = 2 
print([a for a in range(start,end,step)]) #all odd numbers between 1 and 11 

range(10) #integers from 0 to 9

[100, 91, 82, 73, 64, 55, 46, 37, 28, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

range(0, 10)

###**Nested For Loop**

In [ ]:
text="In this final project, you are going to apply all the knowledge and skills you have learned from this course to put together a data science project and report"
words = text.split()
print(words)

for word in words:
    if len(word) > 5:
        print(word)

In [ ]:
#now, let's look at a nested "for" loop example

star_str = ""
for i in range(9):
    for j in range(i*2-1):
        star_str += "*"
    star_str += "\n"

print(star_str)

In [ ]:
for x in range (2,12):  # first line in "for x" block
    print(x)                    
    for k in range (0,16,2):  # first line in "for k" block
        print(k)               # last line in "for k" block  
        print(x + k)           # last line in "for x" block
    print(x)                    
print("We done looping")

2
0
2
2
4
4
6
6
8
8
10
10
12
12
14
14
16
2
3
0
3
2
5
4
7
6
9
8
11
10
13
12
15
14
17
3
4
0
4
2
6
4
8
6
10
8
12
10
14
12
16
14
18
4
5
0
5
2
7
4
9
6
11
8
13
10
15
12
17
14
19
5
6
0
6
2
8
4
10
6
12
8
14
10
16
12
18
14
20
6
7
0
7
2
9
4
11
6
13
8
15
10
17
12
19
14
21
7
8
0
8
2
10
4
12
6
14
8
16
10
18
12
20
14
22
8
9
0
9
2
11
4
13
6
15
8
17
10
19
12
21
14
23
9
10
0
10
2
12
4
14
6
16
8
18
10
20
12
22
14
24
10
11
0
11
2
13
4
15
6
17
8
19
10
21
12
23
14
25
11
We done looping

**The break Statement**

With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
#Exit the loop when x is "Fred":

names = ["Isaac", "Fred", "Mike"]
for x in names:
  print(x)
  if x == "Fred":
    break

In [ ]:
#Exit the loop when x is "Fred", but this time the break comes before the print:

names = ["Isaac", "Fred", "Mike"]
for x in names:
  if x == "Fred":
    break
  print(x)

**The continue Statement**

With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
#Do not print banana:

names = ["Isaac", "Fred", "Mike"]
for x in names:
  if x == "Fred":
    continue
  print(x)

**The range() Function**

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
#Using the range() function:

for x in range(8):
  print(x)

#Note that range(8) is not the values of 0 to 8, but the values 0 to 7.

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [ ]:
#Using the start parameter:

for x in range(2, 6):
  print(x)

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [ ]:
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

In [ ]:
#We can use "break" and "continue" to improve the efficiency of the program
#The following code finds the prime numbers within 400
for i in range(2,400):  #set the loop range from 2 to 399
    prime=True          #assume each number is prime number without testing
    for j in range(2,i-1):   #create an inner loop to find if there is a factor (quiz: what's a better range than this)
        if i%j ==0:          #if a factor is found
            prime=False      #mark i is not prime
            break            #completely stop inner loop
    if prime==False:    #we can simple use if prime: print(i) here. But I'd like to show the use continue
        continue        #skip the remaining statements of i loop
        
    print(i)            # the prime number is printed

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398

**Else in For Loop**

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [ ]:
#Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

#Note: The else block will NOT be executed if the loop is stopped by a break statement.

In [ ]:
#@title
#Break the loop when x is 3, and see what happens with the else block:

for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

**The pass Statement**

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
for x in [0, 1, 2]:
  pass

###**Task 3**

1. Create a 4x5 (4 rows x 5 columns) list caled MyList with random numbers

2. Using your for loop knowledge print out each row in your list while printing each item in the row

In [ ]:
# Write your codes here

#Tip creat simple four list of five element each

#Eample list1, list2 .....

litt1 = [32, 8, 52, 56, 78]


#Combined the individual list as one

In [ ]:
#@title
#solution

#1. Create a 4x5 (4 rows x 5 columns) list caled MyList with random numbers
row1 = [24, 94, 89, 35, 34]  # First row

row2 = [21, 4, 9, 5, 374] # Second row

row3 = [621, 84, 29, 65, 1374] # Third row

row4 = [213, 43, 93, 53, 3743] # Fourth row

MyList =[row1, row2, row3, row4] # Combine to creat the final list

print(MyList) # visulise my entire list to

#2. Using your for loop knowledge print out each row in your list while printing each item in the row

for x in MyList:  # First Loop through all rows in list one-afer-the-other
  
  print(x) # print each row in the list

  for k in x: # For each selected row (x) print each item in it
    print(k)

#**Python Functions**
A function is a block of code which only runs when it is called.
You can pass data, known as parameters, into a function.
A function can return data as a result.

###**Creating a Function**

In Python a function is defined using the def keyword:

In [ ]:
#Creating my first function
def myfirst_function(): # Function declaration and definition
  print("Welcome to Machine learning and data mining class")

###**Calling a Function**
To call a function, use the function name followed by parenthesis:

In [ ]:
def myfirst_function():
  print("Welcome to Machine learning and data mining class")

myfirst_function()

Welcome to Machine learning and data mining

###**Arguments**
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (age). When the function is called, we pass along a age, which is used inside the function to print the age of a user:

In [ ]:
def Your_age(age):
   print("Wow! you are {} years old".format(age))

Your_age(8)

#Arguments are often shortened to args in Python documentations.

Wow! you are 8 years old

**Parameters or Arguments?**

The terms parameter and argument can be used for the same thing: information that are passed into a function.

From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

###**Number of Arguments**
By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [ ]:
#This function expects 2 arguments, and gets 2 arguments:

def my_function(Name, age):
  
  print("Welcome! {}, you are {} years old".format(Name,age))

name_ = input ("Hello what is your name: ")
age_ = input ("How old are you: ")
my_function(Name = name_, age = age_)

# see how we assigne the arguments
# Its known as Keyword Arguments
#You can also send arguments with the key = value syntax.

Hello what is your name: Kofi
How old are you: 78
Welcome! Kofi, you are 78 years old

###**Arbitrary Arguments, *args**
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
#If the number of arguments is unknown, add a * before the parameter name:

def My_course(*course):
  print("What is your favoriate course " + course[3]) # We expect input arguments to by four (0 -3) then we print out the four

My_course("Math", "cybersecurity", "Advance Analytics","Machine learning")
#Arbitrary Arguments are often shortened to *args in Python documentations.

What is your favoriate course Machine learning

###**Default Parameter Value**
The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [ ]:
# Let us build a simple function the mutilple a numbr by itself number of times but with 2 as default
#Let say we want to multiple 5 by itself three time (5^3)
# Hence base = 5 expoonent (expo) = 3
# Answer = 5 * 5 * 5
def NumberRaiser(base,expo = 2):
  Ans = 1 # Let declare a variable to hold the answer
  if(expo == 0):
    Ans = 1
  else:
    for x in range(0, expo):
     Ans = Ans * base
    
  print("{} exponent {} = {}".format(base,expo, Ans))

  
NumberRaiser(5)
NumberRaiser(3,4)
NumberRaiser(4,0)

5 exponent 2 = 25
3 exponent 4 = 81
4 exponent 0 = 1

###**Passing a List as an Argument**
You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [ ]:
def ClassAges(course):
  for coourse_ in course:
    print(coourse_)



ClassAges([23, 21, 25, 26])

23
21
25
26

**Return Values**
To let a function return a value, use the return statement:

In [ ]:
# Let us build a simple function the mutilple a numbr by itself number of times but with 2 as default
#Let say we want to multiple 5 by itself three time (5^3)
# Hence base = 5 expoonent (expo) = 3
# Answer = 5 * 5 * 5
def NumberRaiser(base,expo = 2):
  Ans = 1 # Let declare a variable to hold the answer
  if(expo == 0):
    Ans = 1
  else:
    for x in range(0, expo):
     Ans = Ans * base
    
  return("{}^{} = {}".format(base,expo, Ans)) # the function returns a string

  
print (NumberRaiser(5))
print(NumberRaiser(3,4))

5^2 = 25
3^4 = 81

##**The pass Statement**
function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [ ]:
def NumberRaiser():
  pass

###**Recursion**
Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In [ ]:
def tri_recursion(x): #tri_recursion() is a function that we have defined to call itself ("recurse")
  if(x > 0): #  x variable as the data, which decrements (-1) every time we recurse
    Ans = x + tri_recursion(x - 1) # recursion ends when the condition is not greater than 0 (i.e. when it is 0).
    print(Ans)
  else:
    Ans = 0
  return Ans

print("\n\nRecursion Example")
tri_recursion(4)

#To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

Recursion Example
1
3
6
10

10

###**Function Overloading**
Two or more methods have the same name but different numbers of parameters or different types of parameters, or both. These methods are called overloaded methods and this is called method overloading. 

Like other languages (for example, method overloading in C++) do, python does not support method overloading by default.

[But there are different ways to achieve method overloading in Python.](https://www.geeksforgeeks.org/python-method-overloading/)

###**Lambda**
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

**Syntax**

*lambda arguments : expression*

The expression is executed and the result is returned:

In [ ]:
#Add 36 to argument k, and return the result:

Num = lambda k : k + 36

print(Num(8)) # here k is 8

# Lambda functions can take any number of arguments:

44

In [ ]:
#Multiply argument i with argument j and return the result:

Num = lambda i, j : i * j
print(Num(3, 8))

24

**Why the use of Lambda Functions?**

The power of lambda is better shown when you use them as an anonymous function inside another function.

Let Say we have a function definition that takes one argument, and that argument is multiplied with an unknown number:

In [ ]:
def Lmfunc(j):
  return lambda k : k * j

#Let use that function definition above to make a function that always riples the argument we give

TripleNumber = Lmfunc(3) # Making a copy of Lmfunc with j = 3

print(TripleNumber(int(input("Enter an intger to triple it: ")))) # Let call TripleNumber with an argument 5 (k = 5)

#That is 5 + 5 + 5
#Use lambda functions when an anonymous function is required for a short period of time.

Enter ant intger to triple it: 5
15

#**Exceptions**
When something goes wrong, Python raises an exception. 

Unhandled, exceptions will cause your program to crash. 

You can handle them using try and except:

In [ ]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

#**Classes and Objects**
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

To create a class, we use the keyword class

In [ ]:
# Let create our first  class named OurClass, with a property named age

class OurClass:
  age = 85



#Create Object
#Now let use OurClass to create objects

#Let create an object Kofi of the type OurClass, and print the value of age

Kofi = OurClass()
print(Kofi.age)

85

##**The __init__() Function**
The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [ ]:
#Create a class named Person, use the __init__() function to assign values for name and age:

class Myperson:
  def __init__(self, Myname, Myage):
    self.Myname = Myname
    self.Myage = Myage

Mike = Myperson("John", 36)

print(Mike.name)
print(Mike.age)

I. K. NTI
36

##**Python Modules**

What is a Module?
Consider a module to be the same as a code library.

A file containing a set of functions you want to include in your application.

**Create a Module**

To create a module just save the code you want in a file with the file extension .py:

In [ ]:
#Example
#Save this code in a file named mymodule.py
#Save in the same working directory

def Whoareyou(Yourname):
  print("Hi, " + Yourname)

In [ ]:
#Import the module named mymodule, and call the greeting function:

import mymodule

mymodule.Whoareyou("Jonathan")

##**Python Datetime**

A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

In [ ]:
#Import the datetime module and display the current date:

import datetime

date = datetime.datetime.now()
print(date)

#Return the year and name of weekday:

print(date.year)
print(date.strftime("%A"))

#Creating Date Objects
Mydate = datetime.datetime(2016, 9, 18)

print(Mydate)


#The datetime() class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), 
#but they are optional, and has a default value of 0, (None for timezone).
#Read More: https://www.w3schools.com/python/python_datetime.asp

2023-01-05 14:43:06.360234
2023
Thursday
2016-09-18 00:00:00

##**Python Math**

Python has a set of built-in math functions, including an extensive math module, that allows you to perform mathematical tasks on numbers.

**Built-in Math Functions**

The min() and max() functions can be used to find the lowest or highest value in an iterable:

In [ ]:
#Example
Ages = (51, 23, 25, 28, 40, 22)

print(min(Ages)) # Print the minimum age

print(max(Ages)) # Print the maximum age

22
51

In [ ]:
#The abs() function returns the absolute (positive) value of the specified number:
Mynumer = abs(-8.12)

print(Mynumer)

8.12

In [ ]:
#The pow(x, y) function returns the value of x to the power of y (xy).

Num = pow(5, 2) # For example 5^3

print(Num)

25

##**The Math Module**
Python has also a built-in module called math, which extends the list of mathematical functions.

To use it, you must import the math module:

*import math*

When you have imported the math module, you can start using methods and constants of the module.

The math.sqrt() method for example, returns the square root of a number:

In [ ]:
import math

Num = math.sqrt(25) # Let find the square root of 25

print(Num)

5.0

In [ ]:
#The math.ceil() method rounds a number upwards to its nearest integer, and the math.
#floor() method rounds a number downwards to its nearest integer, and returns the result:

import math

x = math.ceil(4.6)
y = math.floor(3.9)

print(x) # returns 5
print(y) # returns 3

5
3

In [ ]:
#The math.pi constant, returns the value of PI (3.14...):

import math

x = math.pi

print(x)

#Read More: https://www.w3schools.com/python/module_math.asp

3.141592653589793

##**Python RegEx**

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.


Python has a built-in package called re, which can be used to work with Regular Expressions.

Import the re module:

In [ ]:
#Search the string to see if it starts with "you" and ends with "techniques":

import re

txt = "This course will introduce you to data science techniques."
x = re.search("^This.*techniques$", txt)

In [ ]:
#Print a list of all matches:

import re

txt = "This course will introduce you to data science techniques."
x = re.findall("se", txt)
print(x)

['se']

In [ ]:
#The search() Function
#The search() function searches the string for a match, and returns a Match object if there is a match.

#If there is more than one match, only the first occurrence of the match will be returned:

import re

txt = "This course will introduce you to data science techniques."
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 4

In [ ]:
#Make a search that returns no match:

import re

txt = "This course will introduce you to data science techniques."
x = re.search("Artificial", txt)
print(x)

None

In [ ]:
#The split() Function
#The split() function returns a list where the string has been split at each match:


import re

txt = "This course will introduce you to data science techniques."
x = re.split("\s", txt) #Split at each white-space character:
print(x)

['This', 'course', 'will', 'introduce', 'you', 'to', 'data', 'science', 'techniques.']

In [ ]:
#You can control the number of occurrences by specifying the maxsplit parameter:


import re

txt = "This course will introduce you to data science techniques."
x = re.split("\s", txt, 2) #Split the string only at the second occurrence:
print(x)

['This', 'course', 'will introduce you to data science techniques.']

##**User Input**
Python allows for user input.

That means we are able to ask the user for input.

The method is a bit different in Python 3.6 than Python 2.7.

Python 3.6 uses the input() method.

Python 2.7 uses the raw_input() method.

The following example asks for the username, and when you entered the username, it gets printed on the screen:

In [ ]:
name = input("Please Enter Your Name:")
print("Your Name is: " + name)

#Python stops executing when it comes to the input() function, 
#and continues when the user has given some input.

##**String format**

To make sure a string will display as expected, we can format the result with the format() method.


The format() method allows you to format selected parts of a string.

Sometimes there are parts of a text that you do not control, maybe they come from a database, or user input?

To control such values, add placeholders (curly brackets {}) in the text, and run the values through the format() method:

In [ ]:
#Add a placeholder where you want to display the price:

Amout = 49
txt = "Your rent due is {} dollars"
print(txt.format(Amout))

#You can add parameters inside the curly brackets to specify how to convert the value:
#Format the amount to be displayed as a number with two decimals:

txt = "TYour rent due is {:.2f} dollars"
print(txt.format(Amout))

Your rent due is 49 dollars
TYour rent due is 49.00 dollars

In [ ]:
#Multiple Values
#If you want to use more values, just add more values to the format() method:
#print(txt.format(price, itemno, count))

quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

In [ ]:
#Index Numbers
#You can use index numbers (a number inside the curly brackets {0}) to be sure the values are placed in the correct placeholders:

quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

In [ ]:
#Also, if you want to refer to the same value more than once, use the index number:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

In [ ]:
#Named Indexes
#You can also use named indexes by entering a name inside the curly brackets {carname}, 
#but then you must use names when you pass the parameter values txt.format(carname = "Ford"):

myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

## Text cells
This is a **text cell**. You can **double-click** to edit this cell. Text cells
use markdown syntax. To learn more, see our [markdown
guide](/notebooks/markdown_guide.ipynb).

You can also add math to text cells using [LaTeX](http://www.latex-project.org/)
to be rendered by [MathJax](https://www.mathjax.org). Just place the statement
within a pair of **\$** signs. For example `$\sqrt{3x-1}+(1+x)^2$` becomes
$\sqrt{3x-1}+(1+x)^2.$

#**Task No. 4**
Kofi own’s a print shop in Cincinnati. He decides to charge his customers as follows 
1.	*For the first 20 prints = $ 0.75 per page.*

2.	*For the next fifteen (15) extra pages pay three (3) times the initial rate per page.*

3.	*For any other remaining pages, a fixed amount of $3.00 is to be paid.*

With your knowledge in Python write a simple script that take the number of pages printed from a customer and compute the amount due.

In [ ]:
## Write your codes here

#**Magics**
Colaboratory shares the notion of magics from Jupyter. There are shorthand annotations that change how a cell's text is executed. To learn more, see [Jupyter's magics page](http://nbviewer.jupyter.org/github/ipython/ipython/blob/1.x/examples/notebooks/Cell%20Magics.ipynb).

#**Refrences**

1.   [3Wshools](https://www.w3schools.com/python/)
2.   List item